.portfolio {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.portfolio h2 {
    font-size: 2.2vw;
    text-align: center;
    margin: 2rem 0 3rem 0;
    color: var(--quinary-color);
}

.work {
    position: relative;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.work img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    background-color: #272f53;
    border-radius: 10px;
}

.work-info {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    border-radius: 10px;
    padding: 1rem;
}

.work-info:hover {
    opacity: .80;
}

.work-info h3,
.work-info p {
    color: var(--primary-color);
    text-align: center;
    font-weight: bolder;
    margin: .5rem 0 1rem 0;
}

.icons {
    display: flex;
    justify-content: center;
}
.icons i {
    margin: 0 1rem;
    font-size: 2rem;
}

.icons i a {
    color: var(--primary-color);
}

.icons i a:hover {
    color: var(--tertiary-color);
}