:root {
  --primary-color: #00171F;
  --secondary-color: #003459;
  --tertiary-color: #00A8E8;
  --quaternary-color: #FFC300;
  --quinary-color: #FFFFFF;
  --senary-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  color: var(--quinary-color);
  font-family: Arial, Helvetica, sans-serif;
}